* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: rgb(11, 11, 11);
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.wrapper {
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}
.header .logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 180px;
  font-size: 40px;
  font-weight: 400;
  cursor: pointer;
}
.header .hamburger {
  margin-top: 10px;
  margin-right: 10px;
}
.header .nav-menu {
  display: none;
  height: 100px;
  list-style: none;
}
.header .nav-menu li {
  width: 120px;
}
.header .nav-menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: rgb(22, 22, 22);
  font-weight: 400;
  transition: background-color 0.3s, color 0.3s;
}
.header .nav-menu li:hover a {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 5;
}

.hero {
  position: relative;
  height: 60vh;
  width: 100%;
  color: white;
  background-image: url("../../src/img/Jungle-small.jpg");
  background-size: cover;
  background-position: 0% 80%;
}
.hero .hero-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6392156863);
}
.hero .hero-title {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
  padding-left: 10px;
  color: white;
  z-index: 999;
}
.hero .hero-title h2 {
  font-weight: 200;
  margin-bottom: 5px;
}
.hero .hero-title h1 {
  font-size: 26px;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.about-us .about-us-title {
  margin-top: 50px;
  font-size: 42px;
  font-weight: 400;
  text-transform: uppercase;
}
.about-us .about-us-info {
  margin-top: 25px;
}
.about-us .about-us-info img {
  width: 100%;
}
.about-us .about-us-info .about-us-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 15px;
}
.about-us .about-us-info .about-us-text h3 {
  margin: 20px auto;
}
.about-us .about-us-info .about-us-text p {
  text-align: left;
}

.adventure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 300px;
  background-image: url("../../src/img/Girl small.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -2;
}
.adventure .adventure-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 20, 4, 0.6666666667);
  z-index: -99;
}
.adventure .adventure-button {
  width: 300px;
  height: 100px;
  background-color: rgba(249, 249, 249, 0);
  font-size: 22px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  z-index: 100000;
}
.adventure .adventure-button:hover {
  background-color: rgba(255, 255, 255, 0.753);
  color: black;
}

.offers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 40px;
}
.offers .offers-title h2 {
  margin: 30px auto 20px;
  text-align: center;
  font-size: 36px;
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 4px;
}
.offers .offers-title p {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}
.offers .offers-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.offers .offers-box .offer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 450px;
  margin-bottom: 25px;
  border-radius: 6px;
  box-shadow: 1px 1px 7px rgb(177, 177, 177);
}
.offers .offers-box .offer h2 {
  margin: 20px auto;
  text-align: center;
}
.offers .offers-box .offer p {
  margin-bottom: 15px;
  font-size: 42px;
  font-weight: 800;
  text-align: center;
}
.offers .offers-box .offer .offer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
}
.offers .offers-box .offer .offer-content ul {
  margin: auto 15px;
  list-style: none;
  font-size: 20px;
}
.offers .offers-box .offer .offer-content ul li {
  margin-bottom: 10px;
}
.offers .offers-box .offer .offer-content ul li img {
  margin-right: 10px;
}
.offers .offers-box .offer .offer-content ul .available {
  font-weight: 400;
}
.offers .offers-box .offer .offer-content ul .not-available {
  font-weight: 400;
  color: grey;
}
.offers .offers-box .offer .offer-content .offer-btn {
  height: 50px;
  width: 250px;
  margin-top: 40px;
  font-size: 24px;
  border-radius: 6px;
  border: none;
  box-shadow: 1px 1px 7px rgb(133, 133, 133);
  cursor: pointer;
}
.offers .offers-box .offer .offer-content .offer-btns {
  transition: background-color 0.3s, color 0.3s;
  background-color: white;
}
.offers .offers-box .offer .offer-content .offer-btn-second {
  transition: background-color 0.3s, color 0.3s;
  background-color: rgb(21, 192, 115);
  color: white;
}
.offers .offers-box .offer .offer-content .offer-btns:hover {
  background-color: rgb(21, 192, 115);
  color: white;
}
.offers .offers-box .offer .offer-content .offer-btn-second:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  background-color: #ededed;
  color: #000000;
}
.footer .footer-line {
  height: 1px;
  border: 1px solid rgb(152, 152, 152);
}
.footer .footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px auto;
}
.footer .footer-top .footer-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  width: 600px;
}
.footer .footer-top .footer-right .footer-menu-section {
  width: 250px;
}
.footer .footer-top .footer-right .footer-menu-section ul {
  list-style: none;
}
.footer .footer-bottom {
  margin: 20px auto;
  text-align: center;
}

@media (min-width: 576px) {
  .wrapper {
    margin: auto;
    width: 576px;
  }
  .hero {
    background-image: url("../../src/img/Jungle-large.jpg");
  }
  .hero .hero-title {
    padding-left: 50px;
  }
  .hero .hero-title h1 {
    font-size: 32px;
  }
  .about-us {
    width: 100%;
  }
  .about-us .about-us-info img {
    width: 100%;
  }
  .about-us .about-us-info p {
    font-size: 24px;
  }
  .adventure .adventure-button {
    width: 400px;
  }
  .offers .offers-box .offer {
    width: 400px;
  }
  .offers .offers-box .offer .offer-content ul {
    font-size: 24px;
  }
}
@media (min-width: 768px) {
  .wrapper {
    width: 768px;
  }
  .wrapper .nav-menu {
    display: flex;
  }
  .wrapper .nav-menu .li {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .wrapper .hamburger {
    display: none;
  }
  .wrapper .about-us {
    width: 100%;
  }
  .wrapper .about-us .about-us-info img {
    width: 100%;
  }
  .wrapper .about-us .about-us-info .about-us-text h3 {
    font-size: 36px;
  }
  .wrapper .about-us .about-us-info .about-us-text p {
    font-size: 22px;
    text-align: justify;
  }
  .adventure {
    background-image: url("../../src/img/Girl large.jpg");
  }
  .adventure .adventure-button {
    width: 500px;
  }
  .offers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .offers .offers-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}
@media (min-width: 992px) {
  .wrapper {
    width: 992px;
  }
  .wrapper .about-us {
    margin-bottom: 40px;
    width: 100%;
  }
  .wrapper .about-us .about-us-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .wrapper .about-us .about-us-info img {
    width: 45%;
  }
  .wrapper .about-us .about-us-info .about-us-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 40px;
  }
  .wrapper .about-us .about-us-info .about-us-text h3 {
    margin: 0px 0px 10px 0px;
    font-size: 28px;
  }
  .wrapper .about-us .about-us-info .about-us-text p {
    text-align: justify;
    font-size: 18px;
  }
  .adventure .adventure-button {
    width: 600px;
  }
}
@media (min-width: 1100px) {
  .wrapper {
    width: 1100px;
  }
  main {
    display: flex;
    justify-content: center;
  }
  main .hero {
    display: flex;
    justify-content: center;
    width: 100%;
    background-image: url("../../src/img/Jungle-large.jpg");
  }
  main .hero .hero-title {
    width: 1100px;
    padding: 0;
  }
  main .hero .hero-title h1 {
    font-size: 38px;
  }
  main .adventure .adventure-button {
    width: 700px;
  }
  .offers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .offers .offers-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: nowrap;
  }
  .offers .offers-box .offer {
    width: 325px;
  }
  .offers .offers-box .offer .offer-content ul {
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */